<div ng-controller="indexCtrl">

    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0">Chaitanya Krishna
                    <span class="text-primary">Bojja</span>
                </h1>
                <div class="subheading mb-5">Mobile: +1 (519)781-8233 , Email: <span class="text-primary">chaitu966743@gmail.com</span>
                </div>

                <p class="lead mb-5">I am a full stack web developer with two plus years of experience in web development and a vast array of knowledge in many different front-end and back-end languages, responsive frameworks, databases, and best code practices.</p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/chaitanya-krishna-bojja-8135b6150/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/chaitanyakrishnabojja?tab=repositories" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>

                </div>

            </div>
            <h2><a href="/Resume.pdf" target="_blank">Resume</a></h2>
        </section>


        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
            <div class="my-auto">
                <h2 class="mb-5">Skill Set</h2>
                <div class="col-xs-12">
<!--                    <div>Programming Languages:</div>-->
                    <p>•	Front End Languages:  HTML, CSS, JavaScript, jQuery, Jade</p>
                    <p>•	Frameworks: AngularJS, Bootstrap, D3.js, Hibernate, Spring MVC, Mocha</p>
                    <p>•	Back End Languages: JavaScript, Java, PHP, C, C#, VB Script</p>
                    <p>•	Databases: MySQL, MongoDB, OracleDB</p>
                    <p>•	Server-Side Languages: Node.js, Express.js, ASP.Net</p>
                    <p>•	Testing: Manual Testing, Automation Testing</p>
                    <p>•	Tools: Visual Studio, Eclipse, MySQL Work Bench, XAMPP, Android Studio, Brackets, Word Press, Application Life Cycle Manager (ALM), Quick Test Professional (QTP), Adobe Photoshop, Adobe Creative Cloud (Adobe CC)</p>
                </div>



<!--
                <div class="col-xs-12">
                    <div class="subheading mb-3">Tools Worked:</div>
                    <p>Application Life Cycle Manager(ALM), Quick Test Professional(QTP), Adobe Creative Cloud (Adobe CC), Eclipse, MySQL Work Bench, Visual Studio, XAMPP, Android Studio, Brackets</p>
                </div>
-->
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
                <h2 class="mb-5">Experience</h2>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Full Stack Developer - Intern</h3>
                        <div class="subheading mb-3">Consolidated Learning Inc</div>
                        <p>•	Developing RESTful API’s to interact with MySQL database using node.js and express.js</p>
                        <p>•	Developing html views using bootstrap</p>
                        <p>•	Developing Angular controllers and Services</p>
                        <p>•	Developing customized Angular Filters and Directives</p>
                        <p>•	Experienced in working with angular routes</p>
                        <p>•	Modifying JSON data returned by the API using the Angular in the front end.</p>
                        <p>•	Knowledge in using various npm add-ons.</p>
                       <p>•	Knowledge in using Docker containers and Redis for user authentication</p>
                        <p>•	Knowledge in using Multer in the backend for uploading files to server.</p>
                        <p>•	Experience working with Single Page Application using Angular Java Script</p>
                        <p>•	Implemented test cases and performed unit testing using Mocha.</p>
                        <p>•	Successfully adopted different version control workflows like GitHub flow</p>
                            
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">Sept 2018 – Oct 2018</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Full Stack Web Developer</h3>
                        <div class="subheading mb-3">Tata Consultancy Services</div>
                        
                        <p>•	Adopted to agile development strategies like Scrum that successfully allowed building progressive user-valuable products.</p>
                        <p>•	Experienced in Creating responsive HTML views using CSS3 and Bootstrap</p>
                        <p>•	Validating HTML forms on client side before sending data to the backend.</p>
                        <p>•	Creating Angular routes, controllers, directives, filters</p>
                        <p>•	Creating RESTful API’s, model schemas using Node.js and Express.js</p>
                        <p>•	Using mongoose to interact with the MongoDB.</p>
                        <p>•	CRUD operations on Database using API requests.</p>
                        <p>•	Using AngularJS to play with json data in the controllers.</p>
                        <p>•	Using various plugins and adds more functionality to the application.</p>
                        <p>•	Taking an active role in structuring our single page applications to make them easy to maintain and to ensure they are highly modularized</p>
                        <p>•	Designing Test Scenario’s, Test Cases and Reviewing Test Scenario’s and Test Case Documents</p>
                        <p>•	Writing Automation scripts for regression Testcases.</p>
                        <p>•	Strong knowledge in Software Development Life Cycle(SDLC) and in Agile Methodology</p>
                        <p>•	Experience in Software Testing in web-based Applications and also raising critical application defects</p>
                        <p>•	Hands on experience in Unit Testing, System Integration Testing and End-to-End Application Testing</p>
                        <p>•	Experienced in using ALM (Application LifeCycle Management) and Quick Test Professional(QTP) Tools.</p>
                        <p>•	Fixing the application defects.</p>

                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">Aug 2015 – Aug 2017</span>
                    </div>
                </div>

            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
            <div class="my-auto">
                <h2 class="mb-5">Projects</h2>

                <div>
                    <h3 class="mb-0">MEAN(MongoDB, ExpressJS, AngularJS, NodeJS) Projects:</h3>


                    <div class="subheading mb-3">Mocell</div>
                    <div class="img_container">
                        <img src="/img/mocell/mocellHome.png" alt="mocell_image" style="width:100%">
                        <button class="btn" ng-click="vm.viewPopUp('MoCell')">View Project</button>
                    </div>
                    <hr />
                    <div class="subheading mb-3">Get Your TA</div>
                    <div class="img_container">
                        <img src="/img/gta/gtaHome.png" alt="getYourTAHome_img" style="width:100%">
                        <button class="btn" ng-click="vm.viewPopUp('getYourTAAngular')">View Project</button>
                    </div>
                    <hr />
                    
                    <div class="subheading mb-3">Cars With Manufacturers</div>
                    <div class="img_container">
                        <img src="/img/cars/cars1.png" alt="cars" style="width:100%">
                        <button class="btn" ng-click="vm.viewPopUp('carsWithManufacturers')">View Project</button>
                    </div>
                    <hr/>
                    
                </div>

                <br />

                <div>
                    <h3 class="mb-0">Asp.Net Projects:</h3>
                    <div class="subheading mb-3">Get Your TA - Asp.Net</div>
                    <div class="img_container">
                        <img src="/img/asp/gta1.png" alt="zietgeist" style="width:100%">
                        <button class="btn" ng-click="vm.viewPopUp('getYourTAAspNet')">View Project</button>
                    </div>
                    <hr />
                </div>
                <br />
                <div>
                    <h3 class="mb-0">Android Projects:</h3>
                
                    <div class="subheading mb-3">Buy And Sell Homes App</div>
                    <div class="img_container">
                        <img src="/img/bch/home.png" alt="zietgeist" style="width: 100%; height: 70%">
                        <button class="btn" ng-click="vm.viewPopUp('buyAndSellHomes')">View Project</button>
                    </div>
                    <hr />
                    <div class="subheading mb-3">7 - Eleven App</div>
                    <div class="img_container">
                        <img src="/img/seven11/home.png" alt="zietgeist" style="width:100%">
                        <button class="btn" ng-click="vm.viewPopUp('sevenEleven')">View Project</button>
                    </div>
                    <hr />
                </div>
                <br />
                <div class="col-lg-12">
                    <h3 class="mb-0">JavaScript Projects:</h3>
                    <div class="subheading mb-3">Calculator</div>
                    <div class="img_container">
                        <img src="/img/calculator/calculator.png" alt="calculator" style="width:100%">
                        <button class="btn" ng-click="vm.viewPopUp('calculator')">View Project</button>
                    </div>
                    <hr/>
                    <div class="subheading mb-3">Wack A Mole - Game</div>
                    <div class="img_container">
                        <img src="/img/game/game1.png" alt="penguin" style="width:100%">
                        <button class="btn" ng-click="vm.viewPopUp('wackAmole')">View Project</button>
                    </div>
                    <hr/>
                    <div class="subheading mb-3">Hotel Room Reservation</div>
                    <div class="img_container">
                        <img src="/img/hotel/hotel1.png" alt="hotel" style="width:100%">
                        <button class="btn" ng-click="vm.viewPopUp('hotelReservation')">View Project</button>
                    </div>
                    <hr/>
                </div>

                <br/>
                
                
                  <div>
                    <h3 class="mb-0">HTML/CSS Projects:</h3>
                    <div class="subheading mb-3">Zeitgeist</div>
                    <div class="img_container">
                        <img src="/img/zeitgeist/z1.png" alt="zietgeist" style="width:100%">
                        <button class="btn" ng-click="vm.viewPopUp('zieGeist')">View Project</button>
                    </div>
                    <hr/>
                </div>

                <br/>
                
                  <div>
                    <h3 class="mb-0">D3.js Projects:</h3>
                    <div class="subheading mb-3">Olympic Medals</div>
                    <div class="img_container">
                        <img src="/img/d3/d1.png" alt="zietgeist" style="width:100%">
                        <button class="btn" ng-click="vm.viewPopUp('worldMap')">View Project</button>
                    </div>
                    <hr/>
                </div>
                <br/>
                
                
<!--
                <div>
                    <h3 class="mb-0">SQL Projects:</h3>
                    <div class="subheading mb-3">College Database</div>
                    <div class="img_container">
                        <img src="/img/zietgeist.jpg" alt="zietgeist" style="width:100%">
                        <button class="btn" ng-click="vm.viewPopUp('collegeDB')">View Project</button>
                    </div>
                    <hr/>
                    <div class="subheading mb-3">Hotel Database Management System</div>
                    <div class="img_container">
                        <img src="/img/zietgeist.jpg" alt="zietgeist" style="width:100%">
                        <button class="btn" ng-click="vm.viewPopUp('hotelDB')">View Project</button>
                    </div>
                    <hr/>
                </div>
-->

            </div>
        </section>

        <hr class="m-0">


        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
                <h2 class="mb-5">Education</h2>




                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Conestoga College</h3>
                        <div>Computer Science - Web Design and Development</div>
                        <p>GPA: 3.9</p>
                        <p>• Hands on experience in various trending Technologies like HTML5, CSS3, JavaScript, jQuery, NodeJS, MongoDB, ExpressJS, AngularJS, D3.js, ASP.NET, C, C#, SQL, JAVA, PHP, Android Development</p>
                        <p>• Developed Hotel Reservation Application using JavaScript</p>
                        <p>• Developed "Get Your TA" project using Asp.Net and C#</p>
                        <p>• Developed College Database and Hotel Reservation Databases in MySQL</p>
                        <p>• Developed "Buy and Sell Homes" and "7-Eleven" mobile Apps in Java using Android Studio </p>
                        <p>• Developed "MoCell" Application and "Get Your TA" Applications using MongoDB, NodeJS, ExpressJS, AngularJS</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">Sept 2017 – Dec 2018</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Jawaharlal Nehru Technological University - Kakinada</h3>
                        <div class="subheading mb-3">Bachelor of Technology</div>
                        <div>Electronics and Communication Engineering</div>
                        <p>GPA: 3.0</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">Aug 2011 – April 2015</span>
                    </div>
                </div>

            </div>
        </section>

        <hr class="m-0">





    </div>
    <style>
        .img_container {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

        .img_container img {
            width: 100%;
            height: auto;
        }

        .img_container .btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: black;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            /*                        opacity: 0.5;*/
        }

        .img_container .btn:hover {
            background-color: dodgerblue;
        }

    </style>


</div>
