<div class="modal-content">
    <form id="addReview" name="addReview" role="form" class="form-horizontal" ng-submit="vm.onSubmit()">
        <div class="modal-header">
            <h4 id="myModalLabel" class="modal-title">Buy And Sell Homes Application</h4>
            <button type="button" ng-click="vm.modal.cancel()" class="close btn-danger"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            
            
            <p>Git Hub Link: <a href="https://github.com/chaitanyakrishnabojja/Android-BuyAndSell-Homes" target="_blank"><span style="color: blue">https://github.com/chaitanyakrishnabojja/Android-BuyAndSell-Homes</span></a></p>
                
            
            <p>• Developed an app that will display all of the houses in an area</p>
            <p>• The app will contain a home screen, an activity with a list of houses listed as per the ascending order of distance(i.e., the nearest house will be displayed first in the list) and a fragment with details about each house</p>
            <p>• There will be a House class that contains member variables like price, description, etc</p>
            <p>• The detail activity will create an instance of a House and populate the variables using data from an SQLite database</p>
            <p>• The app includes the Google maps API to show the location of the house on the map inside a Fragment</p>
            <p>• The users can take the picture of the house and can put it in the app for sale</p>
            <p>• The uses can also buy the house they like and once the house was bought, the house goes to the bought homes list</p>
            <p>• This app also allows the users to contact the app maintenance team</p>

        </div>
        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-danger">Close</button>
        </div>
    </form>
</div>
