<div class="modal-content">
    
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {
            display: none;
        }
    </style>
    
    <form id="addReview" name="addReview" role="form" class="form-horizontal" ng-submit="vm.onSubmit()">
        <div class="modal-header">
            <h4 id="myModalLabel" class="modal-title">Wack-a-mole Project</h4>
            <button type="button" ng-click="vm.modal.cancel()" class="close btn-danger"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">

            <p><a href="https://mocell-app.herokuapp.com/" target="_blank" class="btn btn-primary"><span style="color: white";>Open Project website</span></a>
            <p>Git Hub Link: <a href="https://github.com/chaitanyakrishnabojja/JavaScript-projects/tree/master/FindThePenguins" target="_blank"><span style="color: blue">https://github.com/chaitanyakrishnabojja/JavaScript-projects/tree/master/FindThePenguins</span></a></p>
            
            <div>

                    <hr />
                    <div class="w3-content w3-display-container" style="max-width: 550px">

                        <div class="w3-display-container mySlides">
                            <img src="/img/game/game1.png" style="width:100%">

                        </div>
                        
                        <div class="w3-display-container mySlides">
                            <img src="/img/game/game2.png" style="width:100%">

                        </div>


                        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

                    </div>

                    <script>
                        var slideIndex = 1;
                        showDivs(slideIndex);

                        function plusDivs(n) {
                          showDivs(slideIndex += n);
                        }

                        function showDivs(n) {
                          var i;
                          var x = document.getElementsByClassName("mySlides");
                          if (n > x.length) {slideIndex = 1}    
                          if (n < 1) {slideIndex = x.length}
                          for (i = 0; i < x.length; i++) {
                             x[i].style.display = "none";  
                          }
                          x[slideIndex-1].style.display = "block";  
                        }
                    </script>





                    <hr />

                </div>

                <p>• Implemented Wack-a-mole game using JavaScript and jQuery</p>
                <p>• Used javaScript variables, arrays, objects to develop this project</p>
                <p>• Used JavaScript DOM navigation and jQuery Classes to develop this game.</p>
                <p>• Used JavaScript functions and Event Listeners in this project</p>
            

        </div>
        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-danger">Close</button>
        </div>
    </form>
</div>
