<div class="modal-content">
    <form id="addReview" name="addReview" role="form" class="form-horizontal" ng-submit="vm.onSubmit()">
        <div class="modal-header">
            <h4 id="myModalLabel" class="modal-title">MoCell Application</h4>
            <button type="button" ng-click="vm.modal.cancel()" class="close btn-danger"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            
            <p><a href="https://mocell-app.herokuapp.com/" target="_blank" class="btn btn-primary"><span style="color: white";>Open Project website</span></a>
            <p>Git Hub Link: <a href="https://github.com/chaitanyakrishnabojja/MEAN_MoCell_App" target="_blank">https://github.com/chaitanyakrishnabojja/MEAN_MoCell_App</a></p>
            
            <p>• MoCell data-driven web application using Node.js, Express, AngularJS and MongoDB</p>
            <p>• It is a fully functioning Angular web application in which I’ve used all layers of the MEAN stack to create MoCell</p>
            <p>• I have also included Bootstrap to create a responsive layout. MoCell will list all the products in categories (mobile, laptops and accessories), where people can use all the CRUD (create, read, update, and delete) for a single category</p>
            <p>• It will also display Product name, Price, description, and a rating for each product</p>
            <p>• Users will be able to submit ratings and reviews</p>
            <p>• I designed and developed API’s to make service requests to my MongoDB Database</p>
            <p>• I used Single Page Application (SPA) to develop this application</p>


        </div>
        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-danger">Close</button>
        </div>
    </form>
</div>
