<div class="modal-content">
    <form id="addReview" name="addReview" role="form" class="form-horizontal" ng-submit="vm.onSubmit()">
        <div class="modal-header">
            <h4 id="myModalLabel" class="modal-title">Hotel Database Project</h4>
            <button type="button" ng-click="vm.modal.cancel()" class="close btn-danger"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            
            <p>Git Hub Link: <a href="https://github.com/chaitanyakrishnabojja/SQL_Projects/tree/master/Hotel_Chain_Management_Database" target="_blank"><span style="color: blue">https://github.com/chaitanyakrishnabojja/SQL_Projects/tree/master/Hotel_Chain_Management_Database</span></a></p>
                
            
            <p>• Developed a HOTEL MANAGEMENT SYSTEM DATABASE which is in 3NF and the database contents are as follows</p>
            <p>• A hotel is a hive of numerous operations such as front office, booking, and reservation, inventory, material management, quality management, security, energy management, housekeeping, CRM and more</p>
            <p>• A hotel can be apart of different Hotel Chains. A hotel chain my have multiple hotels</p>
            <p>• A hotel has multiple rooms and floors, and these rooms can be of different types</p>
            <p>• By room type, each room has the different price and description</p>
            <p>• A hotel has some employees to manage the services provided to customers</p>
            <p>• The customer can book the room either online or by cash payment at the hotel</p>
             <p>• The guest record is stored in hotel database which contains customer identity, his address, check in time, check out time</p>

        </div>
        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-danger">Close</button>
        </div>
    </form>
</div>
