<div class="modal-content">
    <form id="addReview" name="addReview" role="form" class="form-horizontal" ng-submit="vm.onSubmit()">
        <div class="modal-header">
            <h4 id="myModalLabel" class="modal-title">7-Eleven Application</h4>
            <button type="button" ng-click="vm.modal.cancel()" class="close btn-danger"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            
            
            <p>Git Hub Link: <a href="https://github.com/chaitanyakrishnabojja/Android-7-Eleven-App" target="_blank"><span style="color: blue">https://github.com/chaitanyakrishnabojja/Android-7-Eleven-App</span></a></p>
                
            
            <p>• Developed an Android Application where there are several products in the app</p>
            <p>• I created a home screen giving a few details about the company and containing a link to a Product activity</p>
            <p>• I created a Product activity that displays every product with each one being clickable</p>
            <p>• I created a Display activity that will display details about the product depending on what item was clicked, for example it would display coffee details if the coffee item was clicked</p>
            <p>• I created a Checkout activity that lets users input the name of the person making the order, how many they want and how they will pay (e.g radio button with Visa, Debit, Cash)</p>
            <p>• Users can select the product they need and can order the products</p>
            <p>• The selected items will be added to the cart. I used JSON Serializer to save the orders and also I used listView to display the products</p>

        </div>
        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-danger">Close</button>
        </div>
    </form>
</div>
