<div class="modal-content">
    <form id="addReview" name="addReview" role="form" class="form-horizontal" ng-submit="vm.onSubmit()">
        <div class="modal-header">
            <h4 id="myModalLabel" class="modal-title">Hotel Rooms Booking Project</h4>
            <button type="button" ng-click="vm.modal.cancel()" class="close btn-danger"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">

            <p><a href="https://mocell-app.herokuapp.com/" target="_blank" class="btn btn-primary"><span style="color: white";>Open Project website</span></a>
            <p>Git Hub Link: <a href="https://github.com/chaitanyakrishnabojja/JavaScript-projects/tree/master/JavaScriptHotelBookingProject" target="_blank"><span style="color: blue">https://github.com/chaitanyakrishnabojja/JavaScript-projects/tree/master/JavaScriptHotelBookingProject</span></a></p>

                <p>• Developed this application using javaScript and jQuery</p>
                <p>• This application consists of booking page with 3 types of rooms(Silver, Gold, Platinum) with total, available and booked rooms count</p>
                <p>• This application allows the users to book the type of room they want</p>
                <p>• The total, available and booked rooms count will change based on the user bookings</p>
                <p>• Also, added validations for every input fields in the reservation form using JavaScript</p>



        </div>
        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-danger">Close</button>
        </div>
    </form>
</div>
