<div class="modal-content">
    <form id="addReview" name="addReview" role="form" class="form-horizontal" ng-submit="vm.onSubmit()">
        <div class="modal-header">
            <h4 id="myModalLabel" class="modal-title">Get Your TA Application</h4>
            <button type="button" ng-click="vm.modal.cancel()" class="close btn-danger"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            
            <p><a href="https://mocell-app.herokuapp.com/" target="_blank" class="btn btn-primary"><span style="color: white";>Open Project website</span></a>
            <p>Git Hub Link: <a href="https://github.com/chaitanyakrishnabojja/MEAN_MoCell_App" target="_blank"><span style="color: blue">https://github.com/chaitanyakrishnabojja/MEAN_MoCell_App</span></a></p>
            
            <p>• Development in process</p>
            


        </div>
        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-danger">Close</button>
        </div>
    </form>
</div>
